<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" v-if="name !== ''">
        {{materia}}
        {{materia2}}
        <v-form v-model="valid">
          <v-text-field label="Nombre materia" v-model="nombreMateria" :rules="rules"></v-text-field>
          <v-btn @click="setMateria(nombreMateria)" :disabled="!valid">Guardar</v-btn>
        </v-form>
      </v-col>
    </v-row>
    <Card title="Card de prueba" text="fjxdkfglihdflg"></Card>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card";
import { mapState, mapMutations } from "vuex";

export default {
  name: "Home",
  components: {
    Card
  },
  data() {
    return {
      valid: true,
      nombreMateria: '',
      labelText: "Escribe tu nombre de nuevo",
      rules: [
        v => v.length > 5 || 'La materia no cumple el largo',
        v => !!v || "Se requiere el campo"
      ]
    };
  },
  computed: {
    ...mapState(['materia']),
     ...mapState('otro',['materia2'])
  },
  methods: {
    ...mapMutations(['setMateria']),
    click() {
      this.name = "";
    },
    cambio() {
      console.log("Cambio");
    }
  }
};
</script>
