import { mapState } from 'vuex';
<template>
  <div>
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>{{ text }} {{materia }}</v-card-text>
    </v-card>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "Card",
  props: ["title", "text"],
  computed: {
      ...mapState(['materia'])
  },
};
</script>
